USE [dbBackup]
GO
/****** Object:  Table [dbo].[tblBkpArquivos]    Script Date: 11/12/2020 14:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBkpArquivos](
	[bkaIdBkpArquivos] [varchar](max) NULL,
	[bkaPasta] [varchar](max) NULL,
	[bkaProjeto] [varchar](max) NULL,
	[bkaServidor] [varchar](max) NULL,
	[bkaCaminho] [varchar](max) NULL,
	[bkaBkpFita] [varchar](max) NULL,
	[bkaDtSolicitacao] [varchar](max) NULL,
	[bkaBkpStatus] [varchar](max) NULL,
	[bkaBkpRest] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBkpBase]    Script Date: 11/12/2020 14:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBkpBase](
	[bkbIdBkpBase] [varchar](max) NULL,
	[bkbBase] [varchar](max) NULL,
	[bkbProjeto] [varchar](max) NULL,
	[bkbServidorInstancia] [varchar](max) NULL,
	[bkbCaminho] [varchar](max) NULL,
	[bkbBkpFita] [varchar](max) NULL,
	[bkbDtSolicitacao] [varchar](max) NULL,
	[bkbInstanciaOrigem] [varchar](max) NULL,
	[bkbStatus] [varchar](max) NULL,
	[bkbBkpRest] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBkpVM]    Script Date: 11/12/2020 14:06:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBkpVM](
	[bkvIdBkpVM] [varchar](max) NULL,
	[bkvBkpVM] [varchar](max) NULL,
	[bkvProjeto] [varchar](max) NULL,
	[bkvBkpFita] [varchar](max) NULL,
	[bkvDtSolicitacao] [varchar](max) NULL,
	[bkvBkpStatus] [varchar](max) NULL,
	[bkvBkpRest] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tblBkpArquivos] ([bkaIdBkpArquivos], [bkaPasta], [bkaProjeto], [bkaServidor], [bkaCaminho], [bkaBkpFita], [bkaDtSolicitacao], [bkaBkpStatus], [bkaBkpRest]) VALUES (N'1', N'Pasta 00305765', N'Tax Scan', N'brdcvmtaxanap', NULL, N'AP1034L7', N'18/ago', N'Concluido', N'Backup')
INSERT [dbo].[tblBkpArquivos] ([bkaIdBkpArquivos], [bkaPasta], [bkaProjeto], [bkaServidor], [bkaCaminho], [bkaBkpFita], [bkaDtSolicitacao], [bkaBkpStatus], [bkaBkpRest]) VALUES (N'2', N'Pasta 02877632', N'Tax Scan', N'brdcvmtaxanap', NULL, N'AP1034L7', N'18/ago', N'Concluido', N'Backup')
INSERT [dbo].[tblBkpArquivos] ([bkaIdBkpArquivos], [bkaPasta], [bkaProjeto], [bkaServidor], [bkaCaminho], [bkaBkpFita], [bkaDtSolicitacao], [bkaBkpStatus], [bkaBkpRest]) VALUES (N'3', N'Pasta 02932074', N'Tax Scan', N'brdcvmtaxanap', NULL, N'AP1034L7', N'18/ago', N'Concluido', N'Backup')
INSERT [dbo].[tblBkpBase] ([bkbIdBkpBase], [bkbBase], [bkbProjeto], [bkbServidorInstancia], [bkbCaminho], [bkbBkpFita], [bkbDtSolicitacao], [bkbInstanciaOrigem], [bkbStatus], [bkbBkpRest]) VALUES (N'1', N'dbHerbalife', N'VAT', NULL, N'\\Brdcvmtaxanadb\e$\backup', N'APP734L7', N'14/10/2019', NULL, N'Concluido', N'Backup')
INSERT [dbo].[tblBkpBase] ([bkbIdBkpBase], [bkbBase], [bkbProjeto], [bkbServidorInstancia], [bkbCaminho], [bkbBkpFita], [bkbDtSolicitacao], [bkbInstanciaOrigem], [bkbStatus], [bkbBkpRest]) VALUES (N'2', N'dbHerbalife_MasterSaf', N'VAT', NULL, N'\\Brdcvmtaxanadb\e$\backup', N'APP734L7', N'14/10/2019', NULL, N'Concluido', N'Backup')
INSERT [dbo].[tblBkpBase] ([bkbIdBkpBase], [bkbBase], [bkbProjeto], [bkbServidorInstancia], [bkbCaminho], [bkbBkpFita], [bkbDtSolicitacao], [bkbInstanciaOrigem], [bkbStatus], [bkbBkpRest]) VALUES (N'3', N'dbECD_Cielo_2015', N'VAT', NULL, N'\\Brdcvmtaxanadb\e$\backup', N'APP734L7', N'14/10/2019', NULL, N'Concluido', N'Backup')
GO
INSERT [dbo].[tblBkpVM] ([bkvIdBkpVM], [bkvBkpVM], [bkvProjeto], [bkvBkpFita], [bkvDtSolicitacao], [bkvBkpStatus], [bkvBkpRest]) VALUES (N'1', N'BRDCVMCRCTDB', N'CRCT - Vale', N'AP1097L7 ', N'24/10/2020', N'Concluido', N'Backup')
INSERT [dbo].[tblBkpVM] ([bkvIdBkpVM], [bkvBkpVM], [bkvProjeto], [bkvBkpFita], [bkvDtSolicitacao], [bkvBkpStatus], [bkvBkpRest]) VALUES (N'2', N'BRDCVMTPDB1 ', N'Transfering Price', N'AP1094L7', N'22/10/2020', N'Concluido', N'Backup')
INSERT [dbo].[tblBkpVM] ([bkvIdBkpVM], [bkvBkpVM], [bkvProjeto], [bkvBkpFita], [bkvDtSolicitacao], [bkvBkpStatus], [bkvBkpRest]) VALUES (N'3', N'BRDCVMTPDB2', N'Transfering Price', N'AP1095L7', N'22/10/2020', N'Concluido', N'Backup')
